@model CompanyView

@{
    Layout = "~/Views/Shared/_LayoutConfig.cshtml";
}

<div class="container" style="overflow-y:auto">
    <div class="row">
        <div class="col-10 m-2 ml-auto mr-auto">
            <div class="text-center text-success mb-5">
                <h3>Company</h3>
            </div>
            <form asp-action="AddOrModifyCompany" enctype="multipart/form-data">
                <input type="hidden" asp-for="Company.Id" />
                <input type="hidden" asp-for="EnableControls" />
                <input type="hidden" asp-for="Company.LogoPath" id="LogoPath" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row mb-5">
                    <div class="col-2">
                        <label asp-for="Company.CompanyName" class="control-label font-weight-bold required"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Company.CompanyName" disabled="@Model.EnableControls.Equals(false)" class="form-control" />
                        <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-5">
                    <div class="col-2">
                        <label asp-for="Company.OwenerName" class="control-label font-weight-bold required"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Company.OwenerName" disabled="@Model.EnableControls.Equals(false)" class="form-control" />
                        <span asp-validation-for="Company.OwenerName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-5">
                    <div class="col-2">
                        <label asp-for="Company.CompanyEmail" class="control-label font-weight-bold required"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Company.CompanyEmail" disabled="@Model.EnableControls.Equals(false)" class="form-control" />
                        <span asp-validation-for="Company.CompanyEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group row mb-5">
                            <div class="col-3">
                                <label asp-for="Company.TaxNumber" class="control-label font-weight-bold"></label>
                            </div>
                            <div class="col-9">
                                <input asp-for="Company.TaxNumber" disabled="@Model.EnableControls.Equals(false)" class="form-control" />
                                <span asp-validation-for="Company.TaxNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <div class="col-3">
                                <label asp-for="Logofile" class="control-label font-weight-bold required"></label>
                            </div>
                            <div class="col-9">
                                <div class="custom-file">
                                    <input asp-for="Logofile" class="form-control custom-file-input" id="LogoField" disabled="@Model.EnableControls.Equals(false)" accept=".png,.svg" />
                                    <label class="custom-file-label">Change Logo...</label>
                                </div>
                                <small>Allowed format: png &amp; svg</small>
                                <span asp-validation-for="Logofile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @if (Model.Company.LogoPath != null)
                    {
                        <div class="col-4">
                            <img src="@Model.Company.LogoPath" alt="Logo" height="100" style="border: 1px solid;padding: 5px;" />
                        </div>
                    }
                </div>
                @if (Model.EnableControls)
                {
                    <div class="form-group row mb-5 justify-content-end">
                        <input type="submit" value="Save" class="btn btn-outline-primary mr-2" onclick="return ValidateLogoField()" />
                        <a role="button" asp-action="Index" class="btn btn-outline-primary">Cancel</a>
                    </div>
                }
                @if ((Model.Company.Id == Guid.Empty || Model.Company == null) && !Model.EnableControls)
                {
                    <div class="form-group row mb-5 justify-content-end">
                        <a role="button" asp-action="AddOrModifyCompany" class="btn btn-outline-primary">
                            Add
                        </a>
                        @*<a role="button" asp-action="Index" class="btn btn-primary">Cancel</a>*@
                    </div>
                }
                @if (Model.Company.Id != Guid.Empty && Model.Company != null && !Model.EnableControls)
                {
                    <div class="form-group row  mb-5 justify-content-end">
                        <a role="button" asp-action="AddOrModifyCompany" asp-route-Id="@Model.Company.Id" class="btn btn-primary mr-2">
                            Update
                        </a>
                        @*<a role="button" asp-action="Index" class="btn btn-outline-primary">Cancel</a>*@
                    </div>
                }
            </form>
        </div>
    </div>
</div>

@section _Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.custom-file-input').on('change', function () {
            var fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').html(fileName);
            //$(this).next('.custom-file-input').html(fileName);
        })

        function ValidateLogoField() {
            debugger;
            if (document.getElementById('LogoField').value == '' && document.getElementById('LogoPath').value == '') {
                swal('You need a logo to display');
                return false;
            }
        }
    </script>
}