@using eCommerceForSale.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var name = @HttpContextAccessor.HttpContext.Session.GetString(Constants.NameOfUser);
}

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-primary border-right" id="sidebar-wrapper" style="min-height: 80vh !important;">
        <div class="sidebar-heading">
            <img src="~/asset/images/user_avatar.svg" height="25" alt="avatar" title="Account" />
            &nbsp;@name
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Dashboard" ? "active" : "")"
               asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                <i class="fas fa-chart-line mr-2"></i> Dashboard
            </a>
            <a class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Company" ? "active" : "")"
               asp-area="Admin" asp-controller="Company" asp-action="Index">
                <i class="far fa-building mr-2"></i>
                Company
            </a>
            <a class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Products" ? "active" : "")"
               asp-area="Admin" asp-controller="Products" asp-action="Index">
                <i class="fas fa-luggage-cart mr-2"></i>
                Product
            </a>
            <a class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Users" ? "active" : "")"
               asp-area="Admin" asp-controller="Users" asp-action="Index">
                <i class="fas fa-users-cog mr-2"></i>
                Users
            </a>
            <a class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Order" ? "active" : "")"
               asp-area="Admin" asp-controller="Order" asp-action="Index">
                <i class="fas fa-suitcase-rolling mr-2"></i>
                Manage orders
            </a>
            <a href="#" class="list-group-item list-group-item-action">Status</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">

            <div class="bg-light overflow-auto" style="min-height: 80vh !important;">
                <div class="col-12 row ml-0 mt-2">
                    <button class="btn btn-outline-primary" id="menu-toggle">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <div class="row m-3">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>

@section Scripts{
    @if (IsSectionDefined("_Scripts"))
    {
        @RenderSection("_Scripts", required: true)
    }
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
}